<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Halilam</title>
        <link rel="stylesheet" href="../public/css/style.css">
        <link rel="website icon" type="png" href="../public/images/hlLogo.png">
        <!-- Leaflet CSS -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    </head>

    <body>
        <img class="logo" src="../public/images/hlLogo.png" alt="Logo">
        <nav class="navbar">
            <a href="./index.html">About me</a>
            <a href="./project.html">Project</a>
            <a href="#">Artwork</a>
            <a href="./adventure.html">Adventure</a>
        </nav>
        <hr>
        <script src="/js/art.js"></script>

<div class="art-gallery">
    <div class="art-container">
    </div>
    <div class="art-description-box" id="art-description">Hover over an artwork to see details.</div>
</div>




    </body>
</html>